.tablediv {

    border: 2px solid black;
    padding:5px;
    height: 70vh;
}
.div1{
    margin-left: 4%;
}


table {
  font-family: arial, sans-serif;
  border-collapse: collapse;
  width: 100%;
}

td, th {
  border: 1px solid white;
  text-align: left;
  padding: 8px;
}

tr {
  background-color: #dddddd;
}

.hr1{
  background-color: red;
}
